.form {
  max-width: 800px;

  font-family: "Nunito Sans";
}

.comment_notes {
  margin-bottom: 20px;
}
.comment_form_comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
}
.form_submit {
  margin: 15px 0px;
  display: flex;
  justify-content: flex-end;
}
.submit {
  padding: 10px;
  background: #753eca;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.InputContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}
.label {
  margin-bottom: 10px;
}
.textarea {
  min-width: 280px;
  max-width: 280px;
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  font-family: "Nunito Sans";
  @media screen and (min-width: 500px) {
    min-width: 400px;
    max-width: 400px;
  }
  @media screen and (min-width: 600px) {
    min-width: 700px;
    max-width: 700px;
  }
}
